span {
    font-weight:700;
    font-family: 'Patrick Hand', cursive;
    text-decoration: underline;
}
heather {
    text-align: center;
    background-color: #ffb3f5;
}
.title { 
    background-color: #ffc2f7;
    font-family:'Zilla Slab', serif;
    padding: 1px 1px ; 
}
.background {
    background-color: #ffb3f5;
}
h2 {
    background-color: #ffc2f7;
    text-align: center;
    font-family:'Zilla Slab', serif;

}
body{
    background-color:#e6e6e6;
}
main{
    font-family: 'Zilla Slab', serif;
    font-weight: 550;
    margin-left: 67px;
    margin-right: 67px;
}
footer{
    background-color:#ff73de;
    text-align: center;
    padding: 5px 5px;
    font-weight: 700;
}